<div class="navigation">
    <div class="navigation-menu-tab">
        <ul>
            <li>
                <a href="#" data-toggle="tooltip" data-placement="right" title="" data-nav-target="#apps" data-original-title="Apps">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>
                </a>
            </li>
            <li>
                <a href="#" data-toggle="tooltip" data-placement="right" title="" data-nav-target="#user" data-original-title="User" class="active">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                </a>
            </li>
            
        </ul>
    </div>
    <div class="navigation-menu-body">
        <div class="navigation-menu-group">
            
            
           
           
            <div id="user" class="open">
                <ul>
                    <li class="navigation-divider d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users mr-2"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg> User
                    </li>
                    <li>
                        <a href="profile.html">Profile</a></li>
                    <li>
                        <a href="user-list.html">User List</a></li>
                   
                   
                </ul>
            </div>
            <div id="components">
                <ul>
                    <li class="navigation-divider d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers mr-2"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg> Components
                    </li>
                    <li>
                        <a href="#">Basic Components<i class="sub-menu-arrow ti-angle-up"></i></a>
                        <ul>
                            <li>
                                <a href="alert.html">Alerts</a></li>
                            <li>
                                <a href="accordion.html">Accordion</a></li>
                            <li>
                                <a href="buttons.html">Buttons</a></li>
                            <li>
                                <a href="dropdown.html">Dropdown</a></li>
                            <li>
                                <a href="list-group.html">List Group</a></li>
                            <li>
                                <a href="pagination.html">Pagination</a></li>
                            <li>
                                <a href="typography.html">Typography</a></li>
                            <li>
                                <a href="media-object.html">Media Object</a>
                            </li>
                            <li>
                                <a href="progress.html">Progress</a></li>
                            <li>
                                <a href="modal.html">Modal</a></li>
                            <li>
                                <a href="spinners.html">Spinners</a></li>
                            <li>
                                <a href="navs.html">Navs</a></li>
                            <li>
                                <a href="tab.html">Tab</a></li>
                            <li>
                                <a href="tooltip.html">Tooltip</a></li>
                            <li>
                                <a href="popovers.html">Popovers</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Cards<i class="sub-menu-arrow ti-angle-up"></i></a>
                        <ul>
                            <li>
                                <a href="basic-cards.html">Basic Cards </a></li>
                            <li>
                                <a href="image-cards.html">Image Cards </a></li>
                            <li>
                                <a href="scroll-cards.html">Scroll Cards </a></li>
                            <li>
                                <a href="other-cards.html">Others Cards</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Tables<i class="sub-menu-arrow ti-angle-up"></i></a>
                        <ul>
                            <li>
                                <a href="basic-tables.html">Basic Tables</a></li>
                            <li>
                                <a href="dataTable.html">Datatable</a></li>
                            <li>
                                <a href="responsive-tables.html">Responsive Tables</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Charts<i class="sub-menu-arrow ti-angle-up"></i></a>
                        <ul>
                            <li>
                                <a href="apexchart.html">Apex Chart</a></li>
                            <li>
                                <a href="chartjs.html">Chartjs</a></li>
                            <li>
                                <a href="justgage.html">Justgage</a></li>
                            <li>
                                <a href="morsis.html">Morsis</a></li>
                            <li>
                                <a href="peity.html">Peity</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Maps<i class="sub-menu-arrow ti-angle-up"></i></a>
                        <ul>
                            <li>
                                <a href="google-map.html">Google Map</a></li>
                            <li>
                                <a href="vector-map.html">Vector Map</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="avatar.html">Avatar</a></li>
                    <li>
                        <a href="icons.html">Icons</a></li>
                    <li>
                        <a href="colors.html">Colors</a></li>
                </ul>
            </div>
           
           
            
        </div>
    </div>
</div>